@import 'tailwindcss';
@tailwind utilities;
:root {
    --main-color-blue: #05314b;
    --main-color-blue-hover: #448DB7;
    --main-color-blue-darker: #0A2737;
    --main-color-green: #28df7d;
    --main-color-green-hover: #7CF6B5;
    --main-color-green-darker: #17A559;
    --main-color-white: #ffffff;
    --main-color-red: #ff0000;
}

h1 {
    font-size: clamp(5.5rem, 5vw, 3rem);
    font-weight:800;
}

h2 {
    font-size: clamp(3.5rem, 4vw, 2.5rem);
}

h3 {
    font-size: clamp(1.25rem, 3vw, 2rem);
}

h4 {
    font-size: clamp(1.1rem, 2.5vw, 1.5rem);
}

h5 {
    font-size: clamp(1rem, 2vw, 1.25rem);
}

h6 {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
}

p {
    font-weight: 300;
}

.bcg-main-blue {
    background-color: var(--main-color-blue);
}

.color-hover-text {
    color: var(--main-color-blue-hover);
}

.bcg-main-green {
    background-color: var(--main-color-green);
}

.text-main-green {
    color: var(--main-color-green);
    font-weight: 600;
}

.text-blue-color-light {
    color: var(--main-color-blue);
}

.text-color-red {
    color: var(--main-color-red);
}

.border-main-green {
    border-color: var(--main-color-green) !important;
}

.section-background {
    background-color: var(--main-color-blue);
}

.text-white-color-light {
    color: var(--main-color-white);
}

.navbar {
    background-color: var(--main-color-blue);
    color: var(--main-color-green);
    font-size: 19px;
}

.navbar .button-hover-navbar:hover {
    background: var(--main-color-blue-darker)!important;
    cursor: pointer;
}

section h2 {
    color: var(--main-color-green);
    padding-top: 15px;
}

.tech-image-size {
    width: 70px;
    height: 30px;
}
