span {
    color: var(--main-color-green);
}

body .section-about p {
    font-size: 30px;
}

body .button-resume:hover {
    background-color: var(--main-color-green-hover);
    color:var(--main-color-white)
}

body .button-resume {
    cursor: pointer;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
}

.rocket-svg svg{
    height: 32px;
    width: 32px;
    display: unset;
}