span {
    color: var(--main-color-green);
}

body .section-about p {
    font-size: 30px;
}

body .button-interactive:hover {
    background-color: var(--main-color-green-darker);
    color:var(--main-color-white)
}

body .button-interactive {
    cursor: pointer;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
}

.rocket-svg svg{
    height: 32px;
    width: 32px;
    display: unset;
}

.ant-carousel .slick-next,
.ant-carousel .slick-prev {
    color: var(--main-color-blue-darker)!important;
    opacity: 0.6;
}

.slick-dots li button {
    background: var(--main-color-green-darker)!important;
    opacity: 0.5!important;
}

.ant-carousel .slick-dots li::after{
    background-color: var(--main-color-blue-darker)!important;
    background: var(--main-color-blue-darker)!important;
}

.ant-carousel .slick-next::after,
.ant-carousel .slick-prev::after{
    border-inline-start-width: 3px!important;
    border-block-start-width: 3px!important;
}

.project-button-preview {
    transition: background-color 0.3s ease;
    border-radius: 9999px; 
    padding: 0.5rem; 
  }
  
  .project-button-preview:hover {
    background-color:#f6f3f4; 
  }